.card{
    height: 45vh;
    width: 90%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.lightCard{
    background: white;
    box-shadow: 0 0 25px rgba(0,0,0,0.05);
    color: #222;
}

.darkCard{
    background: #19191d;
    color: white;
}

.stars{
    color: #ff6b2d;
    font-size: 20px;
    letter-spacing: 4px;
}

.reviewText{
    /* font-size: 20px;
    line-height: 1.7;
    font-style: italic; */
    color: #555;
}

.darkCard .reviewText{
    color: #d4d4d4;
}

.person{
    display: flex;
    align-items: center;
    gap: 18px;
}

.person img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.personInfo h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.personInfo h5{
    font-size: 15px;
    font-weight: 400;
    color: #888;
}

.darkCard .personInfo h5{
    color: #9d9d9d;
}